<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Python project</title>
    {# bs5 #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
 <div class="loading-div" id="loading" style="display: none">
        <img src="../static/loading.gif"  alt="loading"/>
 </div>
<form action="/search" method="post" target="_blank" id="searchForm">
    <h1>PDF downloader & HTML table transformer</h1>
    <label for="device">Device Name</label>
    <input type="text" id="device" placeholder="dexcom" name="device"><br><br>
    <label for="product_code">Product Code</label>
    <input type="text" id="product_code" placeholder="QBJ" name="product_code"><br><br>
    <input type="submit" value="Search">
</form>
    <hr>
    <h2>Search Result</h2>
    <!-- the result of the search will be rendered inside this div -->
    <div id="result"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script src="../static/app.js"></script>
</body> 
</html>